.contenedor{
    display: flex;
    border: black solid;
    border-radius: 2rem;
    color: rgb(83, 121, 51);
    background-color:rgb(142, 236, 102);
    margin: 4rem;
    width: 42vh;
    height: 65vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0.7; 
    transition: all 0.4s ease;
    position: relative;
}



.title{
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
    max-width: max-content;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Open Sans', sans-serif;
    color: #2e3131;
    font-size: 2rem;
    font-weight: 600;
    top: 30px;
    border: solid 2px #ffffff;
    border-radius: 50%;
    padding: 14px;
    background-color: aliceblue;
}

.title:hover{
    color: #5b6a6a;
    cursor:pointer;

}

.vinculo:link, 
.vinculo:visited {
  color: inherit;
  text-decoration: none;
}






.botoncito{
    top: 5px;
    right: 10px;
    position: absolute;
    width: 12%;
    height: 4%;
    border: none;
    border-radius: 0.5rem;
}
.botoncito:hover{
    background-color: #ccc;
}

.img {
    border-radius: 50%;
    padding-top: 30px;
    max-width: 95%;
    max-height: 95%;
    width: 200px;
    background-size: cover;
    background-position: center;
}

.contenedor:hover{
    opacity: 1; 
    transform: scale(1.1);
    box-shadow: 10px 10px 50px 10px rgba(0, 0, 0, 0.80);
}


.p{
    font-size: 2rem;
}

.hidden {
    display: none;
}



.botonFav{
    display: flex;
    position: absolute;
    width: 8%;
    height: 6%;
    bottom: 20px;
    border: solid 2px ;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.8;
    transition: all 0.4s ease;
    background-color:rgb(142, 236, 102);
    align-items: center;
    right: 5%;
}


.botonFav:hover{
    opacity: 1;
    transform: scale(1.7);
}