.div{
    display: flex;
    position: absolute;
    margin: 100px auto;
    padding: 25px;
    width: 700px;
    height: 650px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid rgb(97, 255, 62);
    border-radius: 15%;
    flex-direction: column;
    align-items: center;
}

.imagen{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: solid 10px rgb(97, 255, 62);
}

.linked{
    width: 25px;
    height: 25px;
    background: none;
    cursor: pointer;
}


.p{
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: white;
    text-shadow: 1px 1px #333;
    background-color: rgba(0, 128, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}

.h1 {
    font-family: Arial, sans-serif;
    font-size: 36px;
    color: white;
    text-shadow: 1px 1px #333;
    background-color: rgba(0, 128, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
  }
  
.h2 {
    font-family: Arial, sans-serif;
    font-size: 30px;
    color: white;
    text-shadow: 1px 1px #333;
    background-color: rgba(0, 128, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
  }